@model IEnumerable<AppGestionEMS.Models.Evaluaciones>

@{
    ViewBag.Title = "Mis Evaluaciones";
}

<h2>Mis Evaluaciones</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Convocatoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trabajo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trabajo2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trabajo3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Test)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Practica)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Convocatoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trabajo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trabajo2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trabajo3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Test)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Practica)
        </td>

    </tr>
}

</table>
